@{
  Layout = "_Layout";
}

@model ClientTravelr.Models.Destination;

<h1>Add a new destinations</h1>
<hr>
@using (Html.BeginForm())
{
  <div class="form-group">
    @Html.Label("City")
    @Html.TextBoxFor(model => model.CityName, new { @class = "form-control" })
  </div>
  <div class="form-group">
    @Html.Label("Country")
    @Html.TextBoxFor(model => model.Country, new { @class = "form-control"})
  </div>
  <div class="form-group">
    @Html.Label("Review")
    @Html.TextAreaFor(model => model.Review, new { @class = "form-control"})
  </div>
  <div class="form-group">
    @Html.Label("Rating")
    @Html.TextBoxFor(model => model.Rating, new { @class = "form-control"})
  </div>
  <input type="submit" value="Add" class="btn btn-outline-secondary" />
}